[Unit]
Description=Monitor daemon for results produced by ONT GridION

[Service]
Type=simple
Restart=on-failure
User=grid
Group=grid
Environment="PATH=/usr/local/npg/bin:/bin:/usr/sbin:/usr/bin"
WorkingDirectory=/data/basecalled
ExecStart=/usr/local/npg/bin/npg_gridion_run_monitor.pl --single-server --collection /seq/ont/gridion --staging-dir /data/basecalled --output-dir /data/npg --tmpdir /data/npg/tmp --tar-capacity 100000 --tar-duration 21600 --tar-timeout 1800 --quiet-interval 86400 --poll-interval 5 --session-timeout 3600 --logconf /usr/local/npg/etc/gridion_run_monitor.logconf

[Install]
WantedBy=multi-user.target
