[Unit]
Description=Monitor daemon for results produced by ONT MinIONs


[Service]
Type=simple
Restart=on-failure
User=minknow
Group=minknow
Environment="PATH=/usr/local/minion/bin:/bin:/usr/sbin:/usr/bin"
WorkingDirectory=/var/lib/MinKNOW/data/reads
ExecStart=/bin/bash -c "/usr/local/minion/npg_minion_run_monitor.pl --collection /seq-dev/ont/minion --staging-path /var/lib/MinKNOW/data"

[Install]
WantedBy=multi-user.target
